Screen {
    padding: 1;
}

Grid {
    grid-size: 4 5;
    grid-gutter: 1 2;
    margin: 1;
}

Digits {
    width: 100%;
    background: $primary-lighten-2;
    text-align: right;
    height: 5;
    content-align-vertical: middle;   
}

Button {
    width: 100%;
    height: 100%;
}

Button#number-0 {
    column-span: 2;
}

Button.top-button {
    background: $panel-darken-2;
}

